.search-input {
  padding-top: 100px;
}

.form-control.bootstrap-typeahead-input-main, .form-control.bootstrap-typeahead-input-hint{
  border-radius: 0;
  height: 46px;
}

.spell {
  font-size: 20px;
}

.spell-origin {
  font-size: 15px;
}

.spell-block {
  margin-bottom: 40px;
}
